#subheader {
  float:left;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  height:300px;
  width: 800px;
}

#subheader:hover {
  float:left;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 15px;
  padding-left: 60px;
  height:300px;
  width: 860px;
}

#name-nav {
  margin-top: 50px;
  margin-right: -20px;
  float: left;
  padding-left:50px;
}

#name-nav h1{
  font-size: 48px;
  padding-left: 25px;
}

#name-nav ul{
  display: flex;
}

#name-nav li{
  margin: 25px;
  margin-top:5px;
  font-size: 20px;
  font-weight:bold;
}

#name-nav li a{
  color: #0c487c;
}


#name-nav #github{
  margin-left: 20px;
  font-size: 24px;
}

#gradient {
  line-height:30px;
  margin-top: 290px;
  background:linear-gradient(transparent,#637b8e);
}

.header {
  background-image:url(../img/portrait.jpeg);
  background-size:100%;
  height: 730px;
  padding-bottom: 0px;
}

.header img{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 40px;
  width: 200px;
  float:right;
  border-radius: 10px;
}

.header .nav {
  color:black;
}

.header .nav:hover{
  color:#337ab7;
}
/*^^^^^^^^^Header^^^^^^^*/

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

.jumbotron p{
  font-size: 18px;
}


#interestlist {
  padding-left:100px;
}

#intro-text {
  margin-right: 10px;
  padding-right: 70px;
  padding-top: 20px;
  height:250px;
  border-right: 2px solid #c4e2fc;
}

#projects, #contact, #artwork{
  border-top: 2px solid #c4e2fc;
}

#contact{
  font-size: 18px;
}

#projects {
  padding-left: 0px;
  padding-right: 0px;
}

#projects h1{
  margin-left: 50px ;
  padding-right: 0px;
}

#video {
  display: none;
  z-index:5;
}

#video {
  cursor: pointer;
  position:fixed;
  left:10%;
  top:4%;
}

#video iframe{
  position:fixed;
  width:80%;
  height:70%;;
  left:10%;
  top:10%;
  border-radius: 20px;
}

#gwcca {
  display: none;
  z-index:5;
  position:fixed;
  width:150%;
  left:20%;
  top:10%;
  border-radius: 20px;
}

#gwcca button{
  cursor: pointer;
  position:fixed;
  left:20%;
  top:8%;
}

.panel {
  padding: 20px;
  height: 65vh;
  border-radius: 0px;
  border-color: #c4e2fc;
}

.panel-default .panel-heading {
  background-color:#c4e2fc;
  border-bottom: 0px;
}
.panel-title {
 font-size: 24px;
 color: #0c487c;
}

.technology {
  padding-left: 50px;
}

.screenshots {
  width: 40%;
  float: left;
  margin: 30px;
  border:2px solid #c4e2fc;
  border-radius:10px;
}

.screenshots:hover{
  border:5px solid #c4e2fc;
}

.upper {
  margin-top: 12px;
  margin-bottom:-1px;
}

.left {
  margin-right: -16px;
}

.right {
  margin-left: -15px;
}

span {
  color: salmon;
}

/*^^^^^^^^^^^^Projects^^^^^^^^^^^^^^^^^*/
#artwork h1{
  line-height:150%;
}

#artwork object{
  margin-left: 15%;
  width:70%;
  border:solid 10px #c4e2fc;
}

.galleria-theme-classic {
    position: relative;
    overflow: hidden;
}

h4 {
  margin: 10px;
}

#btop {
  text-align: center;
  margin-bottom: 20px;
}

#btop img{
  width:5%;
}

#btop img:hover{
  width:5.5%
}

.contactimg img{
  width:90%;
  margin-top: 70px;
}

.clickimg img:hover{
  width:95%;
}

@media screen and (max-width: 1300px) {

  .panel {
    height: 600px;
  }

  #aboutme {
    height:670px;
  }

  #intro-text {
    margin-right: auto;;
    padding-right: auto;
    padding-top: 20px;
    height:auto;
    border-right: 2px solid #c4e2fc;
  }

  #subheader:hover {
    float:left;
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 0px;
    padding-left: 0px;
    height:300px;
    width: 800px;
  }
}

@media screen and (max-width: 768px) {

  .header img{
    display:none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 200px;
    float:auto;
    border-radius: 10px;
  }

  #intro-text {
    margin-right: auto;;
    padding-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height:auto;
    border-right: none;
    border-bottom: 2px solid #c4e2fc;
  }

  .contactimg img{
    width:100px;
    margin-top: 50px;
  }

  .clickimg img:hover{
    width:110px;
  }

  #subheader {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {

  #aboutme{
    height:1200px;
  }

  #name-nav li{
    font-size: 18px;
    margin:15px;
    margin-right:10px;
  }
}
