#subheader {
  float:left;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  height:300px;
  width: 800px;
}

#name-nav {
  margin-top: 50px;
  margin-right: -20px;
  float: left;
  padding-left:50px;
}

#name-nav h1{
  font-size: 72px;
  padding-left: 25px;
}

#name-nav ul{
  display: flex;
}

#name-nav li{
  margin: 30px;
  margin-top:5px;
  font-size: 24px;
}

#name-nav #github{
  margin-left: 20px;
  font-size: 24px;
}

.header {
  background-image:url(../img/portrait.jpeg);
  background-size:100%;
  height: 730px;

}

.header img{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  width: 200px;
  float:right;
  border-radius: 10px;
}

.header .nav {
  color:black;
}

.header .nav:hover{
  color:#337ab7;
}
/*^^^^^^^^^Header^^^^^^^*/

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
}

.panel {
  height: 500px;
}

.screenshots {
  width: 40%;
  float: left;
  margin: 10px;
}

.upper {
  margin-top: 12px;
}

span {
  color: salmon;
}

/*^^^^^^^^^^^^Projects^^^^^^^^^^^^^^^^^*/

h4 {
  margin: 10px;
}
