#subheader {
  float:left;
  background-color: white;
  border-radius: 20px;
  margin-top: 50px;
  height:300px;
  width: 800px;
}

#name-nav {
  margin-top: 50px;
  margin-right: -20px;
  float: left;
  padding-left:50px;
}

#name-nav h1{
  font-size: 72px;
  padding-left: 25px;
}

#name-nav ul{
  display: flex;
}

#name-nav li{
  margin: 30px;
  margin-top:5px;
  font-size: 24px;
}

#name-nav #github{
  margin-left: 20px;
  font-size: 24px;
}

#gradient {
  line-height:30px;
  margin-top: 290px;
  background:linear-gradient(transparent,#637b8e);
}

.header {
  background-image:url(../img/portrait.jpeg);
  background-size:100%;
  height: 730px;
  padding-bottom: 0px;
}

.header img{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  width: 200px;
  float:right;
  border-radius: 10px;
}

.header .nav {
  color:black;
}

.header .nav:hover{
  color:#337ab7;
}
/*^^^^^^^^^Header^^^^^^^*/

.jumbotron {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

#interestlist {
  padding-left:100px;
}

#projects, #contact{
  border-top: 2px solid #c4e2fc;
}

#projects {
  padding-left: 0px;
  padding-right: 0px;
}

#projects h1{
  margin-left: 50px ;
  padding-right: 0px;
}

.panel {
  padding: 20px;
  height: 500px;
  border-radius: 0px;
  border-color: #c4e2fc;
}

.panel-default .panel-heading {
  background-color:#c4e2fc;
  border-bottom: 0px;
}

.screenshots {
  width: 40%;
  float: left;
  margin: 10px;
}

.upper {
  margin-top: 12px;
  margin-bottom:-1px;
}

.left {
  margin-right: -16px;
}

.right {
  margin-left: -15px;
}

span {
  color: salmon;
}

/*^^^^^^^^^^^^Projects^^^^^^^^^^^^^^^^^*/

h4 {
  margin: 10px;
}

#btop {
  text-align: center;
  margin-bottom: 20px;
}

#btop img{
  width:5%;
}

#btop img:hover{
  width:5.5%;
}
