<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">About Me</h3>
      <p class="text-center text-muted"><strong>An Engineer, An Artist, and A Curious Cat</strong></p>
      <ul class="timeline">
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/1" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Biography</h4>
              <h4 class="subheading"></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                My name is Qianye Mei, and I also go by Renee. I grew up in China and came to the US for undergraduate study in civil engineering, which helps me build up a problem-solving mindset. Triggered by my interests in technologies, I decided to spend my time before entering graduate school in a coding bootcamp named Epicodus to introduce myself to programming.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>Interests</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                I am obssessed with art and going to museums, photography and drawing are my favorite things to do for spare time. I also love travelling. During my undergraduate study I had taken chances of study and research aboard to hike on the glaciers in Iceland and to fish in Lake Titicaca. I also just accomplished my adventure across the continent from Georgia to Washington.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>
        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>About Games</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">
                I am really into Fantasy games, both western and oriential, such as the Dragon Age series and the Xuan Yuan Sword series. I found myself usually suprised by the world crafted and the stories told by the game designer. I think with technologies games can expand people's imagination. I hope in future I could contribute to bring the romantic oriential fantasy worlds to the western world.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
