<!-- Header -->
<div class="container">
  <div class="row">
<div class="col-md-8">
    <div class="col-lg-12  text-center page-header {{class}}">
      <!-- <h1>{{projectToDisplay?.title}}</h1> -->
    </div>

  <div class="project-detail-box">
    <div class="main-project">
      <!-- <h1>{{projectToDisplay?.title}}</h1> -->
      <!-- <img *ngIf="projectToDisplay" [src]="projectToDisplay?.image" alt="projectToDisplay?.title" /> -->
      <p [innerHTML]="projectToDisplay?.description"></p>
    </div>
  </div>
</div>
</div>
</div>
