<!-- ......Header........ -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12  text-center">
        <div class="row space"></div>
        <h1 class="tagline">Qianye 'Renee' Mei</h1>
        <h2>Portfolio</h2>
      </div>
    </div>
  </div>
</header>
<!-- ......Header ends here..... -->
<div class="tabbable-panel">
  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
      <li class="active">
        <a href="#tab_default_1" routerLink="/" data-toggle="tab">
          Projects </a>
        </li>
        <li>
          <a href="#tab_default_2" routerLink="/artwork" data-toggle="tab">
            Artworks </a>
          </li>
          <li>
            <a href="#tab_default_3" routerLink="/about" data-toggle="tab">
              About Me </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container" *ngIf = "currentRoute === '/'">
<project-list></project-list>
</div>
<div class="container">
  <app-art *ngIf = "currentRoute === '/artwork'"></app-art>
</div>
<div class="container">
  <app-about *ngIf = "currentRoute === '/about'"></app-about>
</div>
